<div class="container central-area">
  <div class="row">

    <div class="col-md-12">
      <h1>
        Polar plot demo
      </h1>

      <div>
        <p>
        Simple demo of circadian polar plot. It is not a polar plot in the sense of polar coordinates (radius/angle),
        but it represents "cyclic data" i.e. modulo domain range.
        </p>
        <p>Generated data always contains fixed two first series: first one demonstrate data with peak times ~(1h+n24h), second a simple data spread.</p>
        <p>Petals points to the mean of the input series, their width and radius can be scaled by std dev od the data.</p>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-4">
      <div>
        <div class="form-group">
          <a class="btn btn-primary btn-sm" (click)="generateData()">generate</a>
        </div>
        <div class="form-group">
          <a class="btn btn-primary btn-sm" (click)="toggleHidden()">toggle hidden</a> {{hidden}}
        </div>

        <div class="form-group">
          <label>Data:</label>
          <ul class="list-unstyled" style="margin: 1em;">
            <li *ngFor="let row of data">[{{row}}],</li>
          </ul>
        </div>
        <div class="form-group">
          <label>Domain:</label>
          <span>[{{domain}}]</span>
        </div>
        <div class="form-group">
          <label>Show individuals</label> <select class="form-control" [(ngModel)]="indiv">
          <option>none</option>
          <option>selected</option>
          <option>all</option>
        </select>
        </div>

        <div class="form-group">
          <label>Scale Radius:</label> <a class="btn btn-primary btn-sm" (click)="scaleRadius = !scaleRadius">
          {{scaleRadius ? 'On' : 'Off'}}</a>
        </div>
        <div class="form-group">
          <label>Scale Width:</label> <a class="btn btn-primary btn-sm" (click)="scaleWidth = !scaleWidth">
          {{scaleWidth ? 'On' : 'Off'}}</a>
        </div>
      </div>
      <div class="form-group">
        <label>Labels:</label>
        <ul class="list-unstyled" style="margin: 1em;">
          <li *ngFor="let row of labels">[{{row}}],</li>
        </ul>
      </div>

      <div class="form-group">
        <label>Toogle labels:</label> <a class="btn btn-primary btn-sm" (click)="labelsOn = !labelsOn">
        {{labelsOn ? 'On' : 'Off'}}</a>
      </div>
    </div>

    <div class="col-sm-6">

      <bd2-ngx-polar-plot [data]="data" [domain]="domain" [showIndividuals]="indiv"
                          [scaleRadius]="scaleRadius" [scaleWidth]="scaleWidth"
                          [hidden]="hidden" [labels]="labels" [labelsOn]="labelsOn">
      </bd2-ngx-polar-plot>

    </div>

  </div>

</div> <!-- /container -->
